.petitions *,
.petitions *:before,
.petitions *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.is-hidden {
  display: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.help-block {
  margin-top: 6px;
  margin-bottom: 0px;
  font-size: .8em;
  line-height: 1.4em;
}
.row-fluid .span-inline {
  float: left;
  width: auto;
}
.control-group {
  margin-bottom: 16px;
}
.control-group.complex {
  margin-bottom: 6px;
}
.control-group.complex .controls {
  margin-bottom: 16px;
}
.control-group .control-label {
  font-weight: bold;
}
.form-l-vert-w100 .row-fluid [class*=span] {
  float: none;
  width: 100%;
  margin-left: 0px;
}
.form-l-vert-w100 .control-group {
  margin-bottom: 0px;
}
.form-l-vert-w100 .controls {
  margin-bottom: 16px;
}
.form-cg-mrg-small .controls {
  margin-bottom: 8px;
}
.form-cg-mrg-small .cg-checkboxes {
  margin-bottom: 16px;
}
.nowrap {
  white-space: nowrap;
}
.table th,
.table td {
  border-top: 1px solid #eee;
}
th.full,
td.full {
  width: 100%;
}
.label,
.badge {
  font-size: 12px;
  padding: 4px 6px;
  text-shadow: none;
  font-weight: normal;
  text-transform: uppercase;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}
.btn-primary {
  font-size: 16px;
  padding: 12px 30px;
  text-transform: uppercase;
  background: #333;
  text-decoration: none;
  text-shadow: none;
}
.btn-primary:hover {
  background: #111;
}
.btn-small {
  padding: 10px 20px;
  font-size: 14px;
}
.btn-large {
  font-size: 18px;
  padding: 16px 40px;
}
.form-actions {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}
input.input-text {
  height: 40px;
  line-height: 24px;
  padding: 8px 8px 8px 12px;
  box-sizing: border-box;
}
select.select {
  height: 40px;
  line-height: 24px;
  padding: 8px 8px 8px 12px;
  box-sizing: border-box;
}
input.input-text,
select.select {
  margin-bottom: 0;
}
.input-block-level {
  min-height: inherit !important;
}
@media (max-width: 767px) {
  .control-group {
    margin-bottom: 0px;
  }
  .control-group .controls {
    margin-bottom: 16px;
  }
}
.petition-title {
  margin: 0px;
}
.petition-pageintro-toggle,
.petition-pageintro-body {
  display: block;
  width: 100%;
}
.petition-pageintro-toggle {
  text-align: center;
}
.petition-pageintro-body {
  overflow: hidden;
}
.petition-progress {
  display: table;
  width: 100%;
}
.petition-progress .petition-chart,
.petition-progress .petition-count,
.petition-progress .petition-goal {
  display: table-cell;
  vertical-align: middle;
}
.petition-progress .petition-chart {
  width: 20%;
}
.petition-progress .petition-count,
.petition-progress .petition-goal {
  text-align: right;
  width: 40%;
}
.petition-prognum {
  margin: 0px;
  font-size: 56px;
  line-height: 1.1em;
  color: #333;
}
.petition-proglabel {
  margin: 0px;
  font-size: 24px;
  line-height: 1.1em;
  font-weight: 700;
  color: #999;
}
.petition-progchart {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
}
.petition-progchart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.petition-progchart .percent {
  display: inline-block;
  line-height: 100px;
  z-index: 2;
  font-size: 20px;
  font-weight: 700;
  color: #222;
}
.petition-progchart .percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: 1em;
}
.petition-letter {
  font-family: Courier;
}
.petition-supporters-list {
  margin: 0px;
}
.supporter-item {
  margin-top: 24px;
  padding-top: 24px;
  border-top: 1px solid #eee;
  list-style: none;
  font-size: 14px;
  line-height: 24px;
}
.supporter-item:first-child {
  border-top: none;
  padding-top: 0px;
  margin-top: 0px;
}
.supporter-headline {
  position: relative;
}
.supporter-name {
  color: #555;
  font-weight: 700;
}
.supporter-location {
  padding-left: 6px;
  font-size: 12px;
  color: #999;
  text-transform: uppercase;
}
.supporter-time {
  position: absolute;
  top: 0px;
  right: 0px;
  color: #999;
}
.petition-formintro {
  margin-bottom: 24px;
}
.petition-formoutro {
  margin-top: 24px;
  font-size: 14px;
  line-height: 24px;
  color: #666;
}
@media (max-width: 979px) {
  .petition-prognum {
    font-size: 36px;
    line-height: 1.2em;
  }
}
@media (max-width: 767px) {
  .petition-letter {
    font-size: 14px;
    line-height: 24px;
  }
  .petition-letter p:last-child {
    margin-bottom: 0;
  }
  .supporter-item:last-child .supporter-text p:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 480px) {
  .petition-prognum {
    font-size: 28px;
    line-height: 1.2em;
  }
  .petition-proglabel {
    font-size: 14px;
    line-height: 1.2em;
  }
  .supporter-location {
    display: block;
    padding-left: 0px;
  }
}
.section-petition-letter {
  padding: 32px 50px 32px 30px;
  border-left: 30px solid #ccc;
  background: #f2f2f2;
}
.petition-letter-title {
  margin-top: 0px;
}
.petition-stickybar.is-hidden {
  display: none !important;
}
@media (max-width: 480px) {
  .section-petition-letter {
    padding-left: 20px;
    padding-right: 20px;
    border-left: 0px;
  }
}
