<!-- Modal -->
<div id="modalProductDetailsThumb" class="modal shop-modal hide fade" tabindex="-1" role="dialog" aria-labelledby="productDetails" aria-hidden="true">
  <div class="modal-header shop-modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  </div>
  <div class="modal-body shop-modal-body">
    

	<div class="shop-product container-fluid">
		<div class="row-fluid">
			<div class="span2 col-product-media">
				<div class="product-media">
					<img class="product-thumb" src="http://placehold.it/200x200&text=+" />
				</div>
			</div>
			<div class="span10 col-product-info">
				<div class="product-info">
					<h2 class="product-title">This is a Product Title w/ Thumbnail</h2>
					<p>Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
					<p>Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
					<span class="label product-label label-in">in stock</span>
					<span class="product-price">$19.99</span>
					<div class="product-pricing">
						<span class="product-qty">{% include "select-qty" %}</span>
						<a class="btn btn-primary btn-product-addtocart">Add to Cart</a>
					</div>
				</div>
			</div>
		</div>
	</div>


  </div>
</div>