{% block title %}Section: Products{% endblock %}
{% block lead %}{% endblock %}
{% block content %}
{% include "doc-head" %}
<div id="page" class="sbx shop layout-1col">

	<div class="span8 col-main">
		<div class="page-header">
			<h1>Product Cart Listing w/ Button <span>(Default Table Layout)</span></h1>
			<p class="lead">Addition of the 'view details' button which will open up a modal.</p>
		</div>
		{% include "section-products-modals" %}
	</div>
	<div class="span4 col-sidebar">

	</div>

</div>

{% include "molecules/mol-productdetail" %}
{% include "molecules/mol-productdetail-nothumb" %}

{% include "doc-foot" %}
{% endblock %}

{% block footerjs %}

{% endblock %}