<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="#">Soapbox Find A Rep</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class="dropdown {% if mixture.url == "index" %}active{% endif %}">
						<a id="drop1" href="/" role="button" class="dropdown-toggle" data-toggle="dropdown">Layouts <b class="caret"></b></a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
							<li role="presentation"><a role="menuitem" tabindex="-1" href="/pages/layout-step1">Find Your Rep: Step 1</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="/pages/layout-step1-multiaddy">Find Your Rep: Step 1 (Multi Addy)</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="/pages/layout-step1-notindistrict">Find Your Rep: Step 1 (Not in District)</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="/pages/layout-step2">Find Your Rep: Step 2</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="/pages/layout-step2-letters">Find Your Rep: Step 2 (Multi Letters)</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="/pages/layout-thankyou">Thank You</a></li>
						</ul>
					</li>
					<li class="dropdown {% if mixture.url == "model" %}active{% endif %}">
						<a id="drop2" href="/model" role="button" class="dropdown-toggle" data-toggle="dropdown">Sections <b class="caret"></b></a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
							<li role="presentation"><a role="menuitem" tabindex="-1" href="/pages/section-pageheader">Header</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="/pages/section-pageintro">Intro</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="/pages/section-banner">Banner</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="/pages/section-repseach">Search for Rep</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="/pages/section-reps">Rep List</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="/pages/section-letter">Rep Letter</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="/pages/section-contact">Contact Info</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="/pages/section-repsubmit">Rep Submit</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="/pages/section-pageoutro">Outro</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
