<div class="section section-accordion shop-billing" id="shopBilling">
	<div class="section-header">
		<h3 class="title">2. Billing Information</h3>
	</div>
	<div class="section-body">
		
		<fieldset class="clearfix">
			<h4 class="subtitle">Payment Method</h4>
			<div class="control-group">
				<div class="controls">
					{% include "select-payment" %}
				</div>
			</div>
		</fieldset>

		<fieldset class="clearfix">
			<h4 class="subtitle">Credit Card</h4>
			<p class="desc">Please provide the information as written on your credit card.</p>	
			<div class="control-group complex">
				<label class="control-label">Name</label>
				<div class="row-fluid">
					<div class="span4">
						<div class="controls">
							<input type="text" class="input-text input-block-level">
							<span class="help-block">First Name</span>
						</div>
					</div>
					<div class="span8">
						<div class="controls">
							<input type="text" class="input-text input-block-level">
							<span class="help-block">Last Name</span>
						</div>
					</div>
				</div>
				<div class="controls">
					<input type="text" class="input-text input-block-level input-creditcard">
					<span class="help-block">Credit Card Number (ex. ####-####-####-####)</span>
				</div>
				<div class="row-fluid">
					<div class="span-inline">
						<div class="controls">
							{% include "select-month" %}
							<span class="help-block">Exp. Month</span>
						</div>
					</div>
					<div class="span-inline">
						<div class="controls">
							<span class="symbol">/</span>
						</div>
					</div>
					<div class="span-inline">
						<div class="controls">
							{% include "select-year" %}
							<span class="help-block">Exp. Year</span>
						</div>
					</div>
					<div class="span-inline">
						<div class="controls">
							<input type="text" class="input-text input-small input-ccv">
							<span class="help-block">CCV Code</span>
						</div>
					</div>
				</div>
			</div>
		</fieldset>
		
		<fieldset class="clearfix">
			<h4 class="subtitle">Billing Address</h4>
			<p class="desc">Please provide the address where your credit card statement is sent.</p>	
			<div class="control-group complex">
				<div class="controls">
					<input type="text" class="input-text input-block-level">
					<span class="help-block">Street Address</span>
				</div>
				<div class="row-fluid">
					<div class="span6">
						<div class="controls">
							<input type="text" class="input-text input-block-level">
							<span class="help-block">City</span>
						</div>
					</div>
					<div class="span6">
						<div class="controls">
							{% include "select-state" %}
							<span class="help-block">State</span>
						</div>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span6">
						<div class="controls">
							<input type="text" class="input-text input-block-level">
							<span class="help-block">Zip Code</span>
						</div>
					</div>
					<div class="span6">
						<div class="controls">
							{% include "select-country" %}
							<span class="help-block">Country</span>
						</div>
					</div>
				</div>
			</div>
		</fieldset>

	</div>
</div>