<div class="section section-cart shop-cart" id="shopCart">

	<ul class="shop-cards cart-cards cart-cardlist unstyled">
		<li class="itemstatus-in clearfix">
			<div class="span3 col-thumb">
				<div class="item-thumb">
					<img class="thumb" src="http://placehold.it/200x200&text=+" />
				</div>
			</div>
			<div class="span7 col-product">
				<div class="item-product">
					<h4 class="title">This is the Product  with a really long description and bigger thumbnail</h4>
					<p class="desc">Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
					<span class="label label-in">in stock</span>
				</div>
			</div>
			<div class="span2 col-pricing">
				<div class="item-pricing">
					<span class="item-price">$8.95</span>
					<span class="item-qty">{% include "select-qty" %}</span>
					<span class="item-total">$0.00</span>
				</div>
			</div>
		</li>
		<li class="itemstatus-in clearfix">
			<div class="span3 col-thumb">
				<div class="item-thumb">
					<img class="thumb" src="http://placehold.it/200x200&text=+" />
				</div>
			</div>
			<div class="span9 col-product">
				<div class="item-product">
					<h4 class="title">This is the Product  with a really long description and bigger thumbnail w/ only 2 column layout</h4>
					<div class="item-pricing">
						<span class="item-price">$8.95</span>
						<span class="item-qty">{% include "select-qty" %}</span>
						<span class="item-total">$0.00</span>
					</div>
					<p class="desc">Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
					<span class="label label-in">in stock</span>
				</div>
			</div>
		</li>
	</ul>
</div>