<div class="section section-accordion shop-summary" id="shopSummary">
	<div class="section-header">
		<h3 class="title">4. Order Summary</h3>
	</div>
	<div class="section-body">
		<table class="table table-striped shop-table order-table">
			<tbody>
				<tr>
					<td class="item-thumb"><img src="http://placehold.it/35x35&text=+" /></td>
					<td class="item-qty">0</td>
					<td class="item-times"><i class="icon-remove"></i></td>
					<td class="item-product">Product Title</td>
					<td class="item-total">$0.00</td>
				</tr>
				<tr>
					<td class="item-thumb"><img src="http://placehold.it/35x35&text=+" /></td>
					<td class="item-qty">0</td>
					<td class="item-times"><i class="icon-remove"></i></td>
					<td class="item-product">Product Title</td>
					<td class="item-total">$0.00</td>
				</tr>
			</tbody>
		</table>
		<div class="order-total clearfix">
			<span class="title pull-left">Total:</span>
			<span class="amount pull-right">$0.00</span>
		</div>
		<div class="order-submit">
			<div class="form-actions order-formactions">
				<button class="btn btn-large btn-primary" type="button">Place Order</button>
			</div>
			<div class="message order-message">
				<h6>Customizable order message</h6>
				<p>Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel elerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacinia quam enenatis vestibulum. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
			</div>
		</div>
	</div>
</div>