<div class="section section-accordion shop-contact" id="shopContact">
	<div class="section-header">
		<h3 class="title">Contact Information</h3>
	</div>
	<div class="section-body">		
		<fieldset>
			<div class="control-group">
				<label class="control-label">Name</label>
				<div class="row-fluid">
					<div class="span4">
						<div class="controls">
							<input type="text" class="input-text input-block-level">
							<span class="help-block">First</span>
						</div>
					</div>
					<div class="span8">
						<div class="controls">
							<input type="text" class="input-text input-block-level">
							<span class="help-block">Last</span>
						</div>
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Email Address</label>
				<div class="controls">
					<input type="text" class="input-text input-block-level">
					<span class="help-block">Your email address (ex. you@domain.com)</span>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<label class="checkbox">
      <input type="checkbox">Newsletter Signup Option
    </label>
    <label class="checkbox">
      <input type="checkbox">Updates Option
    </label>
				</div>
			</div>
		</fieldset>
	</div>
</div>