<div class="section section-signup shop-summary" id="shopSummary">
	<div class="section-body">
		<div class="letter-submit">
			<div class="form-actions order-formactions">
				<button class="btn btn-large btn-primary" type="button">Send Letter</button> 
				<button type="button" class="btn btn-large btn-primary">Customize Letter(s)</button>
			</div>
		</div>
	</div>
</div>