<div class="section section-cart shop-cart" id="shopCart">
	<div class="row-fluid">
		<div class="span4">
			<img class="thumb" src="http://placehold.it/65x65&text=+" />
			<h4 class="title">Representative Name</h4>
			<p class="desc">Secondary Information</p>
			<span class="label label-in"><i class="icon-phone"></i> (xxx) xxx-xxxx</span> <span class="label label-in"><i class="icon-print"></i> (xxx) xxx-xxxx</span>
		</div>
		<div class="span4">
			<img class="thumb" src="http://placehold.it/65x65&text=+" />
			<h4 class="title">Representative Name</h4>
			<p class="desc">Secondary Information</p>
			<span class="label label-in"><i class="icon-phone"></i> (xxx) xxx-xxxx</span> <span class="label label-in"><i class="icon-print"></i> (xxx) xxx-xxxx</span>
		</div>
		<div class="span4">
			<img class="thumb" src="http://placehold.it/65x65&text=+" />
			<h4 class="title">Representative Name</h4>
			<p class="desc">Secondary Information</p>
			<span class="label label-in"><i class="icon-phone"></i> (xxx) xxx-xxxx</span> <span class="label label-in"><i class="icon-print"></i> (xxx) xxx-xxxx</span>
		</div>
	</div>
	<!--<table class="table shop-table cart-table">
		<tbody>
			<tr class="itemstatus-in">
				<td class="item-thumb"><img class="thumb" src="http://placehold.it/65x65&text=+" /></td>
				<td class="item-product">
					<h4 class="title">Representative Name</h4>
					<p class="desc">Secondary Information</p>
					<span class="label label-in"><i class="icon-phone"></i> (xxx) xxx-xxxx</span> <span class="label label-in"><i class="icon-print"></i> (xxx) xxx-xxxx</span>
				</td>
			</tr>
			<tr class="itemstatus-in">
				<td class="item-thumb"><img class="thumb" src="http://placehold.it/65x65&text=+" /></td>
				<td class="item-product">
					<h4 class="title">Representative Name</h4>
					<p class="desc">Secondary Information</p>
					<span class="label label-in"><i class="icon-phone"></i> (xxx) xxx-xxxx</span> <span class="label label-in"><i class="icon-print"></i> (xxx) xxx-xxxx</span>
				</td>
			</tr>
			<tr class="itemstatus-in">
				<td class="item-thumb"><img class="thumb" src="http://placehold.it/65x65&text=+" /></td>
				<td class="item-product">
					<h4 class="title">Representative Name</h4>
					<p class="desc">Secondary Information</p>
					<span class="label label-in"><i class="icon-phone"></i> (xxx) xxx-xxxx</span> <span class="label label-in"><i class="icon-print"></i> (xxx) xxx-xxxx</span>
				</td>
			</tr>
		</tbody>
	</table>-->
</div>