<div class="section section-accordion shop-billing" id="shopBilling">
	<div class="section-header">
		<h3 class="title">Find Your Rep</h3>
	</div>
	<div class="section-body">

		<fieldset class="clearfix">
			<p class="desc">Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
			<div class="control-group complex">
                
<table class="table shop-table cart-table">
		<tbody>
			<tr class="itemstatus-in">
				<td class="item-thumb"><i class="icon-search"></i></td>
				<td class="item-product">
					<h4 class="title"><a href="#">436 Stafford St</a></h4>
					<p class="desc">Charlton, MA 01507</p>
				</td>
			</tr>
		</tbody>
	</table>

			</div>

			<div class="alert alert-info alert-block">
				<h4>You are not in this district!</h4>
  <p>Nulla vitae elit libero, a pharetra augue. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.</p>
  <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
</div>


		</fieldset>

		
		
		

	</div>
</div>

<div class="row-fluid">
<div class="span6">
<button class="btn btn-primary btn-block">Tell A Friend</button>
</div>
<div class="span6">
<button class="btn btn-primary btn-block">Donate</button>
</div>
		</div>

		<div><p><span class='st_fblike_hcount' displayText='Facebook Like'></span>
<span class='st_facebook_hcount' displayText='Facebook'></span>
<span class='st_twitter_hcount' displayText='Tweet'></span>
<span class='st_googleplus_hcount' displayText='Google +'></span>
<span class='st_email_hcount' displayText='Email'></span>
<span class='st_sharethis_hcount' displayText='ShareThis'></span></p></div>