<select class="select input-xlarge">
	<option value="">Select a Payment Method</option>
	<option value="cc">Credit Card</option>
	<option value="">PayPal</option>
	<option value="">Cash or Check</option>
	<option value="">Invoice</option>
</select>