<div class="section section-cart shop-cart" id="shopCart">
	<table class="table shop-table cart-table">
		<thead>
			<tr>
				<th class="item-thumbproduct" colspan="2"><a href="#">Products</a> <i class="icon-sort"></i></th>
				<th class="item-price nowrap"><a href="#">Price</a> <i class="icon-sort"></i></th>
				<th class="item-qty nowrap">Qty</th>
				<th class="item-total nowrap">Total</th>
			</tr>
		</thead>
		<tbody>
			<tr class="itemstatus-in">
				<td class="item-thumb"><img class="thumb" src="http://placehold.it/65x65&text=+" /></td>
				<td class="item-product">
					<h4 class="title">This is the Product Title</h4>
					<p class="desc">Etiam porta sem malesuada magna mollis euismod nullam quis risus.</p>
					<span class="label label-in">in stock</span>
				</td>
				<td class="item-price">$8.95</td>
				<td class="item-qty">{% include "select-qty" %}</td>
				<td class="item-total">$0.00</td>
			</tr>
			<tr class="itemstatus-in">
				<td class="item-thumb"><img class="thumb" src="http://placehold.it/65x65&text=+" /></td>
				<td class="item-product">
					<h4 class="title">This is the Product Title</h4>
					<p class="desc">Etiam porta sem malesuada magna mollis euismod nullam quis risus.</p>
					<span class="label label-in">in stock</span>
				</td>
				<td class="item-price">$21.00</td>
				<td class="item-qty">{% include "select-qty" %}</td>
				<td class="item-total">$0.00</td>
			</tr>
			<tr class="itemstatus-in">
				<td class="item-thumb"><img class="thumb" src="http://placehold.it/65x65&text=+" /></td>
				<td class="item-product">
					<h4 class="title">This is the Product Title</h4>
					<p class="desc">Etiam porta sem malesuada magna mollis euismod nullam quis risus.</p>
					<span class="label label-in">in stock</span>
				</td>
				<td class="item-price">$19.99</td>
				<td class="item-qty">{% include "select-qty" %}</td>
				<td class="item-total">$0.00</td>
			</tr>
		</tbody>
	</table>
	<div class="cart-total clearfix">
		<span class="title">Total:</span>
		<span class="amount">$0.00</span>
	</div>
</div>