<div class="section section-accordion shop-billing" id="shopBilling">
	<div class="section-header">
		<h3 class="title">2. Billing Information (PayPal option)</h3>
	</div>
	<div class="section-body">
		
		<fieldset class="clearfix">
			<h4 class="subtitle">Payment Method</h4>
			<div class="control-group">
				<div class="controls">
					{% include "select-payment" %}
				</div>
			</div>
		</fieldset>

		<div class="message billing-message">
			<h6>Customizable billing message</h6>
			<p>Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel elerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacinia quam enenatis vestibulum. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
		</div>

	</div>
</div>