
<div id="page" class="sbx petitions petitions-view-petition lay-1col">
	{% assign cg_customcss = '' %}
	{% include "molecules/mol-form-new" %}
	{% assign cg_customcss = 'error' %}
	{% include "molecules/mol-alert" %}
	{% include "molecules/mol-form-new" %}
</div>