<div id="page" class="sbx petitions petitions-view-thankyou lay-1col">
	{% include "organisms/org-pageheader" %}
	{% include "organisms/org-thankyou" %}
	{% include "organisms/org-socialshare" %}
</div>