<div id="page" class="sbx petitions petitions-view-petition lay-2col">

	{% include "organisms/org-pageheader" %}

	<div class="row-fluid">
		<div class="span8 petitions-col-main">	
						
			{% include "organisms/org-media" %}
			{% include "organisms/org-progress" %}
			{% include "organisms/org-pageintro" %}	

			{% assign form_customcss = 'visible-phone' %}
			{% include "organisms/org-form" with {{form_customcss}} %}

			{% include "organisms/org-letter" %}
			{% include "organisms/org-supporters" %}
			{% include "organisms/org-socialshare" %}
			{% include "organisms/org-pageoutro" %}
		</div>
		<div class="span4 petitions-col-sidebar">
			<div class="petitions-sidebar" id="petitionSidebar">
				{% assign form_customcss = 'form-l-vert-w100 form-cg-mrg-small' %}
				{% assign section_form_customcss = 'hidden-phone' %}
				{% include "organisms/org-form" with {{form_sidebar_customcss}} %}
			</div>
			{% comment %}<div class="petitions-sidebar affix" id="petitionSidebar" data-spy="affix" data-offset-top="200">
				{% assign form_customcss = 'form-l-verticalfull hidden-phone' %}
				{% include "organisms/org-form" with {{form_sidebar_customcss}} %}
			</div>{% endcomment %}
		</div>
	</div>
</div>