{% block title %}Thank You Page{% endblock %}
{% block lead %}{% endblock %}
{% block content %}

	<div id="page" class="sbx shop shop-thankyou">

		<div class="span8 col-main">
			{% include "section-pageheader" %}
			{% include "section-thankyou" %}
		</div>
		<div class="span4 col-sidebar">

		</div>

	</div>

{% endblock %}