{% block title %}Layout: 2 Column{% endblock %}
{% block lead %}{% endblock %}

{% block content %}

	<div id="page" class="sbx shop layout-2col">

		<div class="span8 col-main">
			{% include "section-pageheader" %}
			{% include "section-pageintro" %}
			{% include "section-products" %}
			{% include "section-contact" %}
			{% include "section-billing" %}
			{% include "section-shipping" %}
			{% include "section-ordersummary" %}
			{% include "section-pageoutro" %}
		</div>
		<div class="span4 col-sidebar">
			{% comment %}<div class="affix">{% endcomment %}
				{% include "section-ordersummary-sidebar" %}
				{% include "section-help" %}
				{% include "section-security" %}
			{% comment %}</div>{% endcomment %}
		</div>

	</div>

{% endblock %}