{% block title %}Layout: Find Your Rep Step 2{% endblock %}
{% block lead %}{% endblock %}
{% block content %}

	<div id="page" class="sbx shop layout-1col">

		<div class="span8 col-main">
			{% include "section-banner" %}
			{% include "section-pageheader" %}
			{% include "section-pageintro" %}
			{% include "section-repsaccordion" %}
			{% include "section-signup-send" %}
			{% include "section-pageoutro" %}
		</div>
		<div class="span4 col-sidebar">

		</div>

	</div>

{% endblock %}