{% block title %}Progress Molecule{% endblock %}
{% block lead %}{% endblock %}
{% block content %}

	<div class="span8">
		{% include "molecules/mol-progress" %}
	</div>
	<div class="span4">
		<!-- Showing pace for SBX Template Sidebar -->
	</div>

{% endblock %}