{% block title %}Layout: Default (2 Column) w/ Sticky Btn{% endblock %}
{% block lead %}{% endblock %}

{% block content %}

	<div class="span12">
		{% include "templates/tmp-default-2col-stickybtn" %}
	</div>

{% endblock %}


