{% block title %}Layout: Default (1 Column) w/ Sticky Btn{% endblock %}
{% block lead %}{% endblock %}
{% block content %}

	<div class="span8">
		{% include "templates/tmp-default-1col-stickybtn" %}
	</div>
	<div class="span4">
		<!-- Showing pace for SBX Template Sidebar -->
	</div>

{% endblock %}