{% block title %}Thank You Page{% endblock %}
{% block lead %}{% endblock %}
{% block content %}

	<div class="span8">
		{% include "templates/tmp-thankyou" %}
	</div>
	<div class="span4">
		<!-- Showing pace for SBX Template Sidebar -->
	</div>

{% endblock %}