{% block title %}Layout: Default (2 Column){% endblock %}
{% block lead %}{% endblock %}

{% block content %}

	<div class="span12">
		{% include "templates/tmp-default-2col" %}
	</div>

{% endblock %}


