{% block title %}Layout: Form{% endblock %}
{% block lead %}{% endblock %}
{% block content %}

	<div class="span8">
		{% include "templates/tmp-form" %}
	</div>
	<div class="span4">
		<!-- Showing pace for SBX Template Sidebar -->
	</div>

{% endblock %}