body:before { 
                            white-space: pre; 
                            font-family: monospace; 
                            content: 'Less NameError: variable @baseLineHeight is undefined in \\Applications\\MAMP\\htdocs\\mixture.io\\soapboxpetitions\\public\\css\\less\\accordion.less on line 8, column 18: \A 7 .accordion { \A 8   margin-bottom: @baseLineHeight; \A 9 } \A  \A '; } 
                            
                            body * { 
                            display: none; 
                            } 