.section {
  color: #555;
  margin: 3em 0 0 0;
}
.section h4.subtitle {
  font-size: 18px;
  line-height: 1em;
  color: #555;
}
.section p.desc {
  color: #666;
}
.section .message h6 {
  font-size: 1em;
  margin: .4em 0;
}
.section .message p:last-child {
  margin-bottom: 0;
}
.section .controls .symbol {
  line-height: 39px;
}
.section-pageheader {
  margin: 0px;
}
.section-pageheader h1 {
  font-size: 34px;
  color: #222;
}
.section-pageintro {
  font-size: 18px;
  line-height: 32px;
  margin-top: 0px;
}
.section-pageoutro {
  color: #666;
  border-top: 1px solid #eeeeee;
  padding-top: 26px;
}
.section-mod {
  color: #666;
  font-size: 13px;
  line-height: 22px;
  background: #fdfdfd;
}
.section-mod .section-header {
  background: #fbfbfb;
  border-bottom: 1px solid #eee;
}
.section-mod .section-header h3 {
  color: #555;
  font-size: 16px;
  line-height: 1.0em;
  text-transform: uppercase;
  margin: 0px;
  padding: 20px 24px;
}
.section-mod .section-body {
  padding: 20px 24px;
}
.section-mod .section-body p:last-child {
  margin-bottom: 0px;
}
.section-accordion {
  background: #fdfdfd;
}
.section-accordion .section-header {
  padding: 24px;
  background: #fbfbfb;
  border-bottom: 1px solid #eee;
}
.section-accordion .section-header h3 {
  font-size: 21px;
  line-height: 1em;
  color: #555;
  margin: 0;
}
.section-accordion .section-body {
  padding-bottom: 24px;
}
.section-accordion .section-body fieldset {
  padding: 24px 24px 0 24px;
}
.section-accordion .section-body fieldset:first-child {
  border-top: none;
}
.section-accordion .section-body fieldset h4.subtitle {
  margin-top: 0;
}
.section-thankyou {
  margin-top: 0;
}
.section-cart h4.title {
  color: #555;
  margin: 2px 0 0 0;
}
.section-cart td.item-product {
  color: #666;
}
.section-cart img.pull-left {
  margin-right: 20px;
}
.section-cart p.desc {
  margin: .4em 0 0 0;
}
.section-cart span.label {
  margin: .8em 0 0 0;
}
.shop-table {
  margin-bottom: 0;
}
.shop-table th,
.shop-table td {
  padding: 24px 10px;
}
.shop-table th {
  padding-top: 20px;
  padding-bottom: 20px;
}
.shop-table th:first-child,
.shop-table td:first-child {
  padding-left: 24px;
}
.shop-table th:last-child,
.shop-table td:last-child {
  padding-right: 24px;
}
.shop-table thead th {
  font-size: 18px;
  line-height: 1em;
  color: #555;
  background-color: #eee;
}
.shop-table thead th a {
  color: #555;
  text-decoration: none;
}
.shop-table thead th a:hover {
  color: #555;
  text-decoration: underline;
}
.shop-table thead th i {
  color: #888;
  font-size: 12px;
  margin: 0 0 0 4px;
  display: inline-block;
}
.cart-table td {
  background-color: #fdfdfd;
}
.cart-table td.item-thumb {
  width: 100px;
}
.cart-table td.item-price,
.cart-table td.item-total {
  font-weight: 700;
  padding-top: 26px;
}
.cart-table td.item-qty {
  padding-top: 21px;
}
.cart-table th.item-total,
.cart-table td.item-total {
  text-align: right;
}
.cart-table tr.itemstatus-dc .item-qty,
.cart-table tr.itemstatus-na .item-qty {
  padding-top: 26px;
}
.cart-table tr.itemstatus-dc td {
  color: #888;
}
.cart-table tr.itemstatus-dc h4.title,
.cart-table tr.itemstatus-dc .item-price,
.cart-table tr.itemstatus-dc .item-qty,
.cart-table tr.itemstatus-dc .item-total {
  text-decoration: line-through;
}
.cart-cards > li {
  margin: 3em 0px;
}
.cart-cards li:first-child {
  margin-top: 1em;
}
.cart-cards .item-product {
  padding-left: 6px;
}
.cart-cards .item-pricing {
  margin: 14px 0 10px 0;
}
.cart-cards .item-pricing > span {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
}
.cart-cards .item-pricing > span:first-child {
  margin-left: 0;
}
.cart-cards .item-total {
  font-weight: 700;
  font-size: 24px;
  line-height: 1em;
}
.cart-cards .col-pricing {
  text-align: right;
}
.cart-cards .col-pricing .item-pricing {
  margin: 0;
}
.cart-cards .col-pricing .item-pricing span {
  margin: 2px 0 8px 0;
}
.cart-cards .col-pricing .item-pricing .item-total {
  margin-top: 10px;
}
.cart-total {
  font-size: 18px;
  line-height: 1em;
  font-weight: bold;
  text-align: right;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 30px 24px;
}
.cart-total .title {
  margin-right: 16px;
}
.order-table {
  margin-bottom: 0px;
}
.order-table td {
  display: table-cell;
  vertical-align: middle;
}
.order-table td.item-thumb {
  width: 70px;
}
.order-table td.item-qty,
.order-table td.item-times {
  color: #888;
  width: 1%;
}
.order-table td.item-total {
  text-align: right;
}
.order-table tr:first-child > td {
  border-top: 0;
}
.order-total {
  font-size: 21px;
  line-height: 1em;
  font-weight: bold;
  text-align: right;
  border-top: 1px solid #eee;
  padding: 30px 24px;
}
.order-total .title {
  margin-right: 16px;
}
.order-submit {
  padding: 24px;
  border-top: 1px solid #eee;
}
.order-submit.form-actions {
  padding: 0px;
  margin: 0px;
  background: none;
  border: none;
}
.shop-security img.pull-left {
  margin-right: 10px;
}
.billing-message {
  padding: 0 24px 24px 24px;
}
.shipping-message {
  padding: 0 24px 24px 24px;
}
.order-message {
  margin-top: 24px;
}
.shop .col-sidebar {
  position: relative;
}
input.input-creditcard {
  background: url("../images/payment/payment-cards.png") no-repeat right -13px;
}
input.input-ccv {
  background: url("../images/payment/payment-cards.png") no-repeat right -145px;
}
