{% block title %}Molecule: Social Share{% endblock %}
{% block lead %}{% endblock %}
{% block content %}

	<div class="span8">
		{% assign socialshare_class = 'lay-default' %}
		{% include "molecules/mol-socialshare" %}
		<hr>
		{% assign socialshare_class = 'lay-default-left' %}
		{% include "molecules/mol-socialshare" %}
		<hr>
		{% assign socialshare_class = 'lay-default-right' %}
		{% include "molecules/mol-socialshare" %}
		<hr>
		{% assign socialshare_class = 'lay-default-centered' %}
		{% include "molecules/mol-socialshare" %}
		<hr>
		{% assign socialshare_ttl_align = 'right' %}
		{% assign socialshare_class = 'lay-ttlright' %}
		{% include "molecules/mol-socialshare" %}
		<hr>
		{% assign socialshare_ttl_align = 'right' %}
		{% assign socialshare_class = 'lay-ttlright-left' %}
		{% include "molecules/mol-socialshare" %}
		<hr>
		{% assign socialshare_ttl_align = 'right' %}
		{% assign socialshare_class = 'lay-ttlright-right' %}
		{% include "molecules/mol-socialshare" %}
		<hr>
		{% assign socialshare_ttl_align = 'right' %}
		{% assign socialshare_class = 'lay-ttlright-centered' %}
		{% include "molecules/mol-socialshare" %}
		<hr>
		{% assign socialshare_ttl_align = '' %}
		{% assign socialshare_class = 'lay-ttltop-centered' %}
		{% include "molecules/mol-socialshare" %}

		<hr>
		<hr>
		<hr>
		<hr>

		{% assign socialshare_class = 'lay-default' %}
		{% include "molecules/mol-socialshare-addthis" %}
		<hr>
		{% assign socialshare_class = 'lay-default-left' %}
		{% include "molecules/mol-socialshare-addthis" %}
		<hr>
		{% assign socialshare_class = 'lay-default-right' %}
		{% include "molecules/mol-socialshare-addthis" %}
		<hr>
		{% assign socialshare_class = 'lay-default-centered' %}
		{% include "molecules/mol-socialshare-addthis" %}
		<hr>
		{% assign socialshare_ttl_align = 'right' %}
		{% assign socialshare_class = 'lay-ttlright' %}
		{% include "molecules/mol-socialshare-addthis" %}
		<hr>
		{% assign socialshare_ttl_align = 'right' %}
		{% assign socialshare_class = 'lay-ttlright-left' %}
		{% include "molecules/mol-socialshare-addthis" %}
		<hr>
		{% assign socialshare_ttl_align = 'right' %}
		{% assign socialshare_class = 'lay-ttlright-right' %}
		{% include "molecules/mol-socialshare-addthis" %}
		<hr>
		{% assign socialshare_ttl_align = 'right' %}
		{% assign socialshare_class = 'lay-ttlright-centered' %}
		{% include "molecules/mol-socialshare-addthis" %}
		<hr>
		{% assign socialshare_ttl_align = '' %}
		{% assign socialshare_class = 'lay-ttltop-centered' %}
		{% include "molecules/mol-socialshare-addthis" %}

		<hr>
		<hr>
		<hr>
		<hr>

		{% assign socialshare_class = 'lay-default' %}
		{% include "molecules/mol-socialshare-buttons" %}
		<hr>
		{% assign socialshare_class = 'lay-default-left' %}
		{% include "molecules/mol-socialshare-buttons" %}
		<hr>
		{% assign socialshare_class = 'lay-default-right' %}
		{% include "molecules/mol-socialshare-buttons" %}
		<hr>
		{% assign socialshare_class = 'lay-default-centered' %}
		{% include "molecules/mol-socialshare-buttons" %}
		<hr>
		{% assign socialshare_ttl_align = 'right' %}
		{% assign socialshare_class = 'lay-ttlright' %}
		{% include "molecules/mol-socialshare-buttons" %}
		<hr>
		{% assign socialshare_ttl_align = 'right' %}
		{% assign socialshare_class = 'lay-ttlright-left' %}
		{% include "molecules/mol-socialshare-buttons" %}
		<hr>
		{% assign socialshare_ttl_align = 'right' %}
		{% assign socialshare_class = 'lay-ttlright-right' %}
		{% include "molecules/mol-socialshare-buttons" %}
		<hr>
		{% assign socialshare_ttl_align = 'right' %}
		{% assign socialshare_class = 'lay-ttlright-centered' %}
		{% include "molecules/mol-socialshare-buttons" %}
		<hr>
		{% assign socialshare_ttl_align = '' %}
		{% assign socialshare_class = 'lay-ttltop-centered' %}
		{% include "molecules/mol-socialshare-buttons" %}
	</div>
	<div class="span4">
		<!-- Showing pace for SBX Template Sidebar -->
	</div>

{% endblock %}