<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="#">Soapbox Petitions</a>
			<div class="nav-collapse collapse">
				<ul class="nav">

					<li class="dropdown">
						<a id="drop3" href="/model" role="button" class="dropdown-toggle" data-toggle="dropdown">Molecules <b class="caret"></b></a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
							<li role="presentation"><a role="menuitem" tabindex="-1" href="/docs/doc-mol-socialshare">Social Share</a></li>
						</ul>
					</li>


					<li class="dropdown">
						<a id="drop2" href="/model" role="button" class="dropdown-toggle" data-toggle="dropdown">Organizms <b class="caret"></b></a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
							<li role="presentation"><a role="menuitem" tabindex="-1" href="#">First Organizm</a></li>
						</ul>
					</li>

					<li class="dropdown">
						<a id="drop1" href="/pages/page-default(1col)" role="button" class="dropdown-toggle" data-toggle="dropdown">Templates <b class="caret"></b></a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
							<li role="presentation"><a role="menuitem" tabindex="-1" href="/pages/page-default(1col)">Default (1col)</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="/pages/page-default(1col-stickybtn)">Default (1col) w/ Sticky Button</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="/pages/page-default(1col-accordion)">Default (1col) w/ Accordion</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="/pages/page-default(2col)">Default (2col)</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="/pages/page-default(2col-stickybtn)">Default (2col) w/ Sticky Button</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="/pages/page-form">Sign Up Form</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="/pages/page-thankyou">Thank You</a></li>
						</ul>
					</li>

				</ul>
			</div>
		</div>
	</div>
</div>
