<div class="socialshare petition-socialshare {{socialshare_class}}">
	{% if socialshare_ttl_align == 'right' %}
	<ul class="share-list">
		<li class="share-item"><a href="#" class="share-btn btn"><i class="share-btn-icon icon-facebook"></i> Facebook</a></li>
		<li class="share-item"><a href="#" class="share-btn btn"><i class="share-btn-icon icon-twitter"></i> Twitter</a></li>
	</ul>	
	<h5 class="share-title">Button Class</h5>
	{% else %}
	<h5 class="share-title">Button Class:</h5>
	<ul class="share-list">
		<li class="share-item"><a href="#" class="share-btn btn"><i class="share-btn-icon icon-facebook"></i> Facebook</a></li>
		<li class="share-item"><a href="#" class="share-btn btn"><i class="share-btn-icon icon-twitter"></i> Twitter</a></li>
	</ul>
	{% endif %}
</div>