<div class="petition-progress">
	<div class="petition-chart">
		<div id="petitionProgressChart" class="petition-progchart" data-percent="96">
			<span class="percent"></span>
		</div>
	</div>
	<div class="petition-count">
		<h4 class="petition-prognum">18,784</h4>
		<p class="petition-proglabel">Supporters</p>
	</div>
	<div class="petition-goal">
		<h4 class="petition-prognum">24,000</h4>
		<p class="petition-proglabel">Goal</p>
	</div>
</div>