<div class="socialshare petition-socialshare {{socialshare_class}}">
	{% if socialshare_ttl_align == 'right' %}
	<div class="share-list">
		<!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style ">
			<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
			<a class="addthis_button_tweet"></a>
		</div>
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-527afea35155f5be"></script>
		<!-- AddThis Button END -->
	</div>	
	<h5 class="share-title">AddThis Sharing</h5>
	{% else %}
	<h5 class="share-title">AddThis Sharing:</h5>
	<div class="share-list">
		<!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style ">
			<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
			<a class="addthis_button_tweet"></a>
		</div>
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-527afea35155f5be"></script>
		<!-- AddThis Button END -->
	</div>
	{% endif %}
</div>