<div class="section section-petition-accordion visible-phone" id="section-petitionAccordion">
    <div class="accordion-petition" id="accordion-petition">
        <section class="accordion-petition-item">
            <h3 class="accordion-petition-header accordion-petition-letter-header">Letter<i class="z-state-close icon-chevron-up"></i><i class="z-state-open icon-chevron-down"></i></h3>
            <div class="accordion-petition-body accordion-petition-letter-body">
                {% include "molecules/mol-letter" %}
            </div>
        </section>
        <section class="accordion-petition-item">
            <h3 class="accordion-petition-header accordion-petition-supporters-header">Supporters<i class="z-state-close icon-chevron-up"></i><i class="z-state-open icon-chevron-down"></i></h3>
            <div class="accordion-petition-body accordion-petition-supporters-body">
                {% include "molecules/mol-supporters" %}
            </div>
        </section>
    </div>
</div>